@model DAL.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            <img src="~/images/@Model.ImageUrl" alt="Imagen" width="90" height="90" />
        </dd>

        <dt>
            @Html.DisplayName("Producto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayName("Existencia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantExistencia)
        </dd>
    </dl>
</div>
<p>
    <a href="/Productos/Edit/?id=@Model.IdProducto" class="btn btn-primary">Editar</a>
    <a href="/Productos/" class="btn btn-info">Regresar</a>
</p>
